# see https://developers.selectel.ru/docs/control-panel/authorization/#%D1%82%D0%BE%D0%BA%D0%B5%D0%BD-keystone
SELECTEL_USER=<username>
SELECTEL_PASSWORD=<password>
SELECTEL_ACCOUNT_ID=<account_id>
SELECTEL_PROJECT_NAME=<project_name>
SELECTEL_ZONE=<TESTING_ZONE>
