name: Test some downstream libdns providers

on: [push] # Not on PRs since this workflow needs secrets

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        provider: [rfc2136, cloudflare]

    steps:
    - name: Checkout the core libdns repo
      uses: actions/checkout@v6

    - name: Checkout the provider repo
      uses: actions/checkout@v6
      with:
        repository: libdns/${{ matrix.provider }}
        path: providers/${{ matrix.provider }}

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.23"

    - name: Test the provider
      working-directory: ./providers/${{ matrix.provider }}
      env:
        # Make all secrets available to all providers. Probably not the _best_
        # solution, but it's simple and works for now.
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        CLOUDFLARE_TEST_ZONE: ${{ env.CLOUDFLARE_TEST_ZONE     }}
        RFC2136_KEY:          ${{ secrets.RFC2136_KEY          }}
        RFC2136_KEYALG:       ${{ env.RFC2136_KEYALG           }}
        RFC2136_KEYNAME:      ${{ secrets.RFC2136_KEYNAME      }}
        RFC2136_SERVER:       ${{ env.RFC2136_SERVER           }}
        RFC2136_ZONE:         ${{ env.RFC2136_ZONE             }}
      run: >
        find . -name go.mod -execdir sh -c '
          go mod edit -replace github.com/libdns/libdns=${{ github.workspace }} &&
          go mod tidy &&
          go test -v ./... ||
          kill $PPID
        ' \;

